div{
    text-align: center;
    padding: -12px;
}

.screen{
    margin: 8px;
}

.btn{
    margin: 6px 2px;
    text-align: center;
}

.container-fluid{
    margin: 3rem;
}

h1{
    margin: 3rem;
    padding-left: 3rem;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
}

body{
    background-color: rgb(168, 254, 240);
}

footer{
    margin-left: 6rem;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;
}